{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "linebreak-style": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-one-expression-per-line": 0,
    "react/forbid-prop-types": [
      "enabled",
      {
        "forbid": ["array", "object"],
        "checkContextTypes": true,
        "checkChildContextTypes": true
      }
    ]
  }
}
